@font-face {
  font-family: 'icon';
  src: url('/fonts/icons/icon.ttf?2nzgfh') format('truetype'),
  url('/fonts/icons/icon.woff?2nzgfh') format('woff'),
  url('/fonts/icons/icon.svg?2nzgfh#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\e90c";
}

.icon-masonry:before {
  content: "\e90d";
}

.icon-play:before {
  content: "\e90b";
}

.icon-lion:before {
  content: "\e90a";
}

.icon-filter:before {
  content: "\e909";
}

.icon-arrow-right-small:before {
  content: "\e908";
}

.icon-phone:before {
  content: "\e907";
}

.icon-bag:before {
  content: "\e906";
}

.icon-close:before {
  content: "\e904";
}

.icon-search:before {
  content: "\e905";
}

.icon-arrow-left:before {
  content: "\e900";
}

.icon-arrow-right:before {
  content: "\e901";
}

.icon-grid:before {
  content: "\e902";
}

.icon-user:before {
  content: "\e903";
}
