@media (min-width: 1920.98px)
  .product-main,
  .product-main-img.only-one,
  .product-main-img-slider,
  .product-main-info
    max-height: calc(85 * var(--vh))
    overflow: hidden

  .catalog-dropdown
    left: calc(50vw - 940px)

@media (max-width: 1799.98px)

  .banner-item-title
    font-size: 50px

  .product-main
    grid-gap: 20px

  .gift-item
    width: 80px
    height: 80px
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px

  .product-list-view-img
    padding-right: 10px
    width: 110px

  .product-list-view-id
    padding-right: 10px

  .product-list-view-title
    padding-right: 10px

  .product-list-view-colors
    padding-right: 15px

  .product-list-view-qnt
    padding-right: 15px

  .product-list-view-price
    padding-right: 15px
    width: 103px

  .product-list-view-cart
    .btn
      width: 200px
      font-size: 14px

  .product-color-item
    margin-bottom: 7px

  .product-color-item-texture
    width: 19px
    height: 19px

  .product-color-item-quantity
    height: 19px
    line-height: 19px
    font-size: 12px
    width: 36px

  .product-color-item-price
    font-size: 12px

  .basket-total
    width: 350px

  .product-buy-shop
    padding-left: 50px
    padding-right: 50px

  .brands-row
    margin-left: -20px
    margin-right: -20px

  .brands-row-item
    padding-right: 20px
    padding-left: 20px

@media (max-width: 1599.98px)
  body
    font-size: 14px

  .s-main-window
    padding-top: 160px

  .main-window-logo
    width: 60%

  .banners-slider
    width: 40%

  .banners-button-prev,
  .banners-button-next
    bottom: 0

  .row
    margin: 0 -15px

    & > [class*=col-]
      padding: 0 15px

  .footer-bottom
    margin: 0 -15px

    & > div
      padding: 0 15px

  .categories-item
    margin-bottom: 30px

  .catalog-filter
    padding-left: 30px
    padding-right: 20px

  .brand-label
    font-size: 14px
    padding-right: 20px

    &:after
      height: 34px
      margin-top: -17px
      right: -14px
      left: -14px

  .select-categories-item
    margin-bottom: 12px

  .filter-checkbox
    span
      padding-left: 30px
      font-size: 14px

      &:after
        width: 20px
        height: 20px
        top: 2px

      &:before
        top: 8px
        left: 6px
        width: 8px
        height: 8px

  .select-subcategories
    margin: 15px 0 25px 30px

  .open-filter-btn
    height: 50px
    padding: 0 20px
    font-size: 14px

    span
      font-size: 24px
      margin-right: 15px

  .catalog-list
    .product-item
      margin-bottom: 30px
      height: calc(100% - 30px)

  .product-gifts-left p
    font-size: 12px

  .advantages-item
    padding: 50px
    min-height: 42vw

  .advantages
    grid-gap: 30px

  .images-length-4
    grid-gap: 20px

  .additional-advantages
    padding: 80px

  .additional-advantages-descr
    margin-bottom: 70px

    .h1
      font-size: 40px

    p
      font-size: 18px
      max-width: 770px

  .additional-advantages-item-img
    height: 86px
    width: 114px

  .s-additional-advantages
    padding: 30px 0

  .s-product-advantages
    padding-bottom: 50px

  .operation-block
    padding: 80px

  .operation-content
    .h1
      font-size: 40px

    p
      font-size: 16px

  .s-product-compare
    padding-bottom: 50px

  .compare-table-block
    padding: 80px

  .compare-table-title
    margin-bottom: 50px

    .h1
      font-size: 40px

  .compare-table-parameters
    padding-top: 260px

    ul
      li
        font-size: 16px
        margin-bottom: 20px

        &:first-child
          padding-top: 4px

  .compare-item-img
    height: 160px
    margin-bottom: 20px

  .compare-item-title
    font-size: 20px
    margin-bottom: 20px

  .compare-item-parameters
    ul
      li
        font-size: 16px
        margin-bottom: 20px

  .video-poster
    span
      width: 85px
      height: 85px

      &:after
        font-size: 28px
        transform: translateX(2px)

  .filter-view-type
    height: 50px
    padding: 0 20px

    span
      font-size: 16px
      margin: 0 8px

  .product-list-view
    padding: 15px 20px

  .product-colors-images
    width: 80px
    height: 80px

  .product-list-view-img
    width: 90px

  .product-list-view-title .h6
    font-size: 12px
    line-height: 1.5

  .product-list-view-colors
    padding-right: 10px

    .product-colors-block
      height: 40px

      span
        width: 14px
        height: 14px
        margin: 0 3px

        &:after
          margin: -10px 0 0 -10px
          width: 20px
          height: 20px

  .product-list-view-qnt
    span
      height: 40px
      line-height: 38px
      width: 51px


  .product-list-view-price
    font-size: 14px

  .product-list-view-tag
    font-size: 12px

  .product-list-view-inquire
    font-size: 14px

  .account-block
    padding: 70px

  .account-form-right
    padding-left: 100px

  .auth-layout-header
    margin: 30px 0 45px

  .auth-page
    padding-bottom: 50px

  .auth-block
    padding: 50px 50px 80px

  .auth-form
    .form-title
      margin-bottom: 40px

  .product-list-view-id
    width: 8%

  .basket-item
    .product-list-view-price
      width: 150px

    .product-colors-qnt
      width: 160px

  .basket-gifts-block
    padding-right: 36px

  .ordering
    padding: 50px 40px

  .basket-total-prices
    margin-bottom: 30px

    ul
      li
        font-size: 15px
        margin-bottom: 15px

  .basket-total-promocode
    margin-bottom: 25px

  .basket-total-price
    font-size: 15px
    margin-bottom: 25px

    span
      &:last-child
        font-size: 24px

  .basket-total-links
    margin-top: 25px

    a
      font-size: 16px

  .basket-list
    margin-bottom: 70px

  .header-name
    margin-right: 15px
    margin-left: 0

  .orders-list-item
    padding: 20px 35px

  .order-list-item-info-date
    font-size: 15px
    line-height: 1.4
    margin-bottom: 5px

  .order-list-item-info-number
    font-size: 13px

  .order-list-item-products
    height: 80px

    .swiper-slide
      width: 50px
      height: 50px

  .order-list-item-products
    margin-right: 30px

  .order-list-item-total
    font-size: 16px
    margin-right: 30px

  .order-list-item-status
    width: 130px
    font-size: 15px

  .order-list-item-check
    margin-right: 40px

  .order-list-item-repeat
    .btn
      padding: 0 30px

  .order-product-img
    width: 190px
    height: 190px

  .order-product-title
    font-size: 16px

  .product-colors-qnt
    width: 170px

  .order-product-price
    width: 75px
    margin-right: 2%

  .brands-row-item-card-content
    padding: 20px

    p
      font-size: 12px
      margin-bottom: 20px

  .magazine-row
    --gutter: 30px

  .img-gallery
    margin-left: 0
    margin-right: 0

  .error
    padding-top: 200px

  .accordion-title
    height: 90px
    font-size: 21px

  .accordion-item-toggle
    width: 44px
    height: 44px

    &:before
      height: 24px
      margin-top: -12px

    &:after
      width: 24px
      margin-left: -12px

  .quarantee-form-title
    font-size: 16px
    margin-bottom: 10px

  .quarantee-form
    margin-bottom: 50px

  .quarantee-defect
    margin: 50px 0

  .quarantee-terms
    margin-bottom: 50px

  .delivery-descr
    margin-bottom: 50px

  .delivery-cities
    margin-bottom: 50px

  .delivery-info-item
    margin-bottom: 50px

  .delivery-cities-item
    margin-bottom: 50px

  .s-about
    font-size: 16px

  .about-banner
    max-width: 1100px
    margin-bottom: 60px

  .about-descr
    margin-bottom: 60px

  .about-advantages-item-img
    width: 100px
    height: 95px

  .product-buy-shop
    padding: 20px 20px 20px 0

  .product-buy-shop-title
    margin-bottom: 10px

  .product-buy-shop-price
    margin-bottom: 10px

  .images-gallery-thumbs
    width: 100px
    margin-right: 80px

  .product-check-marketplaces
    a
      font-size: 14px

  .product-marketplace
    margin: 0 10px
    min-width: 100px

  .product-marketplace-img
    margin-bottom: 6px

    img
      width: 56px
      height: 56px
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px

  .product-marketplace-title
    font-size: 12px

  .product-marketplace-price
    font-size: 14px

  .product-marketplace-link
    margin-top: 5px

    a
      font-size: 12px

  .product-colors-block
    span
      width: 26px
      height: 26px
      margin: 0 5px

      &:after
        width: 32px
        height: 32px
        margin: -16px 0 0 -16px

@media (max-width: 1439.98px)

  .container
    padding: 0 40px

  .catalog-dropdown
    width: 600px
    padding: 81px 20px 40px

  .search-catalog-item
    a
      font-size: 14px

      img
        width: 30px
        margin-right: 15px

  .search-catalog
    margin-bottom: 20px

  .search-categories
    margin-left: 45px

  .search-category-item
    font-size: 14px

  .search-details
    margin-top: 30px

  .search-details-item
    margin: 10px 0 10px

    a
      font-size: 12px
      line-height: 1.4

      img
        width: 30px
        margin-right: 15px

  .catalog-dropdown-tabs-nav
    margin-bottom: 30px

    span
      font-size: 20px
      margin-right: 30px

  .catalog-dropdown-tabs
    margin-bottom: 30px

  .catalog-dropdown-products
    ul
      margin-bottom: 30px

      li
        margin-bottom: 10px

        a
          font-size: 14px

  .dropdown-footer
    ul
      li
        margin-bottom: 3px

        a
          font-size: 12px

  .brands-item
    margin-bottom: 15px

    img
      max-width: 160px
      max-height: 35px

  .categories-item
    height: 340px

  .categories-col
    &:nth-child(odd)
      .categories-item
        &:nth-child(even)
          height: 558px

    &:nth-child(even)
      .categories-item
        &:nth-child(odd)
          height: 558px


  .categories-item-title
    font-size: 20px

  .brands-main-window-content-left
    p
      font-size: 16px

  .gift-item
    margin-right: 28px

    &:before
      width: 13px
      right: -21px

    &:after
      height: 13px
      margin-top: -6px
      right: -15px

  .header-acc-dropdown
    right: -49px

    &:after
      right: 59px

  .order-info-left
    padding-left: 40px

  .order-info-total
    padding-right: 100px

  .order-info-right
    padding-right: 40px

@media (max-width: 1365.98px)

  .banner-item
    p
      font-size: 16px

  .banner-item-title
    font-size: 40px


  .row
    margin: 0 -10px

    & > [class*=col-]
      padding: 0 10px


  .footer-bottom
    margin: 0 -10px

    & > div
      padding: 0 10px

  .categories-item-content
    padding: 20px

  .categories-item
    margin-bottom: 20px


  .catalog-list
    .product-item
      margin-bottom: 20px
      height: calc(100% - 20px)

  .product-title
    h1
      font-size: 20px

  .product-main-info
    padding: 80px 20px 20px

  .product-gifts
    padding-top: 20px

  .product-gifts-left
    .h3
      font-size: 18px

    p
      font-size: 11px

  .gift-item
    width: 60px
    height: 60px

  .advantages-item
    padding: 40px

    .h2
      font-size: 27px

    p
      font-size: 15px

    &:nth-child(3n-2)
      .advantages-item-content
        max-width: 450px

  .advantages-item-content
    max-width: 330px

  .s-product-advantages
    padding-bottom: 30px

  .vs__selected-options
    padding-left: 15px

  .vs__actions
    padding-right: 15px


  .basket-main
    margin-right: 30px


  .header-name
    span
      display: none


  .orders-list-item
    padding: 15px 25px


  .order-list-item-info
    margin-right: 30px


  .order-list-item-info-date
    font-size: 14px


  .order-list-item-products
    width: 22%
    margin-right: 30px
    min-width: 250px


  .order-list-item-total
    font-size: 14px


  .order-list-item-status
    font-size: 14px
    width: 115px


  .order-list-item-check
    margin-right: 30px

    a
      font-size: 16px


  .order-products-list
    padding: 0 30px


  .order-product-img
    width: 130px
    height: 130px


  .order-product-title
    font-size: 14px


  .order-product-add-to-cart
    width: 200px


  .order-info
    padding: 0

  .magazine-row
    --gutter: 20px

  .post-banner img
    min-height: 450px

  .post-content-descr
    font-size: 18px
    margin-bottom: 70px

  .text-block
    margin-bottom: 70px

    img
      margin-bottom: 70px

  .img-gallery
    margin-bottom: 70px

  .s-post-content
    padding-bottom: 70px

  .s-about
    font-size: 14px

  .brands-row
    margin-left: -10px
    margin-right: -10px

  .brands-row-item
    padding-right: 10px
    padding-left: 10px

  .s-brands
    padding: 30px 0

  .product-check-marketplaces
    margin-top: 20px
    padding-top: 20px

  .select-category
    top: -65px

  .select-category-btn
    height: 44px
    line-height: 44px
    font-size: 14px

  .catalog-filter
    margin-top: 65px


@media (max-width: 1199.98px)

  .logo
    img
      width: 141px

  .banner-item-title
    font-size: 30px

  .categories-item
    height: 270px

  .categories-col
    &:nth-child(odd)
      .categories-item
        &:nth-child(even)
          height: 408px

    &:nth-child(even)
      .categories-item
        &:nth-child(odd)
          height: 408px

  .footer
    padding: 100px 0 50px

  .footer-row
    .col-6
      width: 100%
      margin-bottom: 30px

    .col-1,
    .col-2,
    .col-3
      width: 33.33333%

  .footer-bottom
    margin-top: 30px

  .catalog-filter
    position: fixed
    top: 0
    left: 0
    width: 300px
    height: 100%
    z-index: 10
    padding-top: 14px
    padding-bottom: 30px
    overflow-y: auto
    +scrollbar
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%)
    display: block !important
    +tr4
    transform: translateX(-120%)
    margin: 0

    &.opened
      transform: translateX(0)

    .h4
      font-size: 18px
      margin-bottom: 15px

  .select-category
    position: static
    background-color: #EEEFF3
    margin: 0 0 20px

  .catalog-filter-title
    display: block

  .catalog-filter-close
    position: absolute
    top: 11px
    right: 14px
    z-index: 1
    display: block
    width: 40px
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
    border: 1px solid #DEDBDB
    color: #C4C4C4

  .catalog
    & > .row
      & > *
        width: 100%

  .catalog-list
    .row
      & > *
        width: 33.333333%

  .filter-footer-btns
    &.active
      opacity: 0
      visibility: hidden

  .product-main
    margin-bottom: 25px

  .s-products-features
    padding-top: 25px

  .products-features
    margin-bottom: 30px

  .s-product
    padding-bottom: 25px

  .s-recommended
    padding: 25px 0

  .section-title
    margin-bottom: 30px

  .advantages
    grid-gap: 20px

  .account-block
    padding: 50px 30px

  .account-form-right
    padding-left: 30px

  .product-colors-qnt
    width: 130px
    padding-right: 10px

  .product-list-view-id
    width: 10%

  .compare-items-list
    margin: 0 -10px

    .compare-item
      width: 50%
      padding: 0 10px

      &:last-child
        display: none !important


  .basket-total
    width: 260px


  .basket-gifts-block
    display: block


  .basket-gifts-block-text
    margin: 0 0 20px


  .ordering
    padding: 30px 20px


  .ordering-form
    margin-bottom: 50px


  .delivery-captcha
    margin-bottom: 50px


  .delivery-type
    .form-group
      margin-right: 30px


  .header-name
    display: none


  .orders-list-item
    padding: 15px 20px


  .order-list-item-info
    margin-right: 20px


  .order-list-item-info-date
    font-size: 13px


  .order-list-item-products
    width: 20%
    margin-right: 20px
    min-width: 220px


  .order-list-item-total
    font-size: 13px


  .order-list-item-status
    font-size: 13px
    width: 110px


  .order-list-item-check
    margin-right: 20px

    a
      font-size: 16px


  .order-list-item-repeat
    .btn
      padding: 0 20px


  .order-product-price
    font-size: 14px


  .order-product-price
    width: 65px


  .brands-row-item-card
    display: none

  .s-post-banner
    .breadcrumbs
      top: 90px

  .accordion-title
    padding-left: 20px
    padding-right: 20px

  .accordion-body-content
    padding: 30px 20px

    &:after
      left: 20px
      right: 20px

  .about-advantages
    margin: 0 -10px 30px

  .about-advantages-item
    font-size: 12px
    padding-left: 10px
    padding-right: 10px

  .product-buy-shop-footer
    display: block

  .product-buy-shop-del
    margin: 0 0 15px

  .back-link
    a
      font-size: 16px

      span
        font-size: 12px
        transform: translateY(1px)

  .product-buy-modal
    padding: 20px

  .images-gallery-component
    padding: 30px 83px 30px 30px

  .images-gallery-thumbs
    margin-right: 20px

  .thumbs-nav-prev,
  .thumbs-nav-next
    width: 40px
    height: 40px
    margin-left: -20px
    font-size: 16px

  .thumbs-nav-prev
    top: -20px

  .thumbs-nav-next
    bottom: -20px

  .popup-close
    top: 30px
    right: 20px
    width: 43px
    height: 43px
    font-size: 15px

  .order-info-left
    padding-left: 0

  .order-info-total
    font-size: 14px
    padding-right: 40px

  .order-info-status
    font-size: 14px

  .order-info-right
    padding-right: 0

  .up-btn
    right: 14px
    bottom: 25px
    width: 40px
    height: 40px

    &:after
      content: '\e915'
      font-size: 16px
      transform: rotate(90deg)

  .brands-row-item
    display: flex
    align-items: center
    justify-content: center

  .brands-row-item-img
    display: block

@media (max-width: 991.98px)
  h1, .h1
    font-size: 44px
  h3, .h3
    font-size: 24px

  .header
    padding: 21px 0

  .header-catalog
    flex-grow: 0
    width: auto

  .catalog-dropdown
    position: fixed
    z-index: 10
    top: 0
    left: 0
    width: 320px
    height: 100%
    transform: translate(-105%)
    opacity: 1
    visibility: visible
    padding-bottom: 15px

    &.opened
      transform: translate(0)

  .header-catalog-btn
    width: 30px
    height: 30px
    font-size: 0
    padding: 0
    outline: none !important
    color: #fff
    border: none
    padding: 0
    background-color: $accent
    display: flex
    align-items: center
    justify-content: center
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%

    span
      font-size: 15px
      line-height: 1

      &:after
        content: '\e902'
        font-family: icon
        font-weight: normal

  .header-catalog-block
    background-color: transparent

  .header-catalog-block
    .header-search
      display: none

  .header-logo
    transform: translateY(-4px)

  .header
    &.light
      .header-location
        a
          &:after
            color: #fff

  .header-location
    font-size: 0

    a
      &:after
        content: '\e907'
        font-size: 24px
        font-family: icon
        color: #000
        line-height: 1

  .s-main-window
    padding: 124px 0 19px


  .main-window-content
    .container
      display: flex
      align-items: center
      flex-direction: column


  .main-window-logo
    width: 100%
    padding: 0
    max-width: 360px


  .banners-slider
    width: 100%
    margin-bottom: 50px
    position: relative


  .banner-item
    padding-right: 0
    text-align: center

    > *
      max-width: 320px
      margin-left: auto
      margin-right: auto


  .banners-button-prev,
  .banners-button-next
    bottom: auto
    width: 30px
    height: 30px
    font-size: 11px
    top: 20px

  .banners-button-prev
    left: 0

    span
      transform: translateX(-1px)

      &:before
        content: '\e915'

  .banners-button-next
    right: 0

    span
      transform: translateX(1px)

      &:before
        content: '\e912'

  .banners-slider-img
    overflow: hidden

  .search-input
    width: 100%
    margin: 0
    -webkit-border-radius: 20px
    -moz-border-radius: 20px
    border-radius: 20px

  .catalog-dropdown
    padding-top: 20px

  .mob-search-form
    margin-bottom: 30px

  .search-input
    padding-left: 15px

  .categories-col
    width: 50%

    &:last-child
      display: flex
      flex-wrap: wrap
      margin: 0 -10px
      width: calc(100% + 20px)

      .categories-item
        height: 270px !important
        width: calc(50% - 20px)
        flex-shrink: 0
        margin: 0 10px

  .categories-item-title
    font-size: 16px

  .categories-item-descr
    font-size: 12px

  .products-slider
    margin-top: 20px

  .footer
    padding: 50px 0 20px

  .footer-bottom
    flex-wrap: wrap

    > div
      width: 100%

  .footer-bottom-right
    margin-top: 20px

  .catalog-dropdown-close
    display: flex

  .mob-search-form
    display: flex

    .search-input
      background-color: #F7F7F7

  .catalog-list
    .row
      & > *
        width: 50%

  .page-title
    margin-bottom: 30px

  .brands-main-window-content
    display: block

  .brands-main-window-content-left
    margin-bottom: 30px

  .product-main
    display: block
    grid-gap: 0

  .product-main-img
    margin-bottom: 20px

  .additional-advantages
    padding: 30px

  .additional-advantages-descr
    margin-bottom: 20px

    p
      font-size: 14px

  .additional-advantages-list
    grid-gap: 20px

  .additional-advantages-item-img
    height: 46px
    width: 66px
    margin-bottom: 15px

  .additional-advantages-item-title
    font-size: 12px

  .product-page
    &.dark
      .product-main-img
        background-color: transparent

      .s-recommended
        padding-top: 90px

  .advantages-item
    padding: 20px

  .operation-block
    padding: 30px
    display: block

  .operation-content
    padding: 0
    width: 100%
    margin-bottom: 30px

  .operation-img
    width: 100%

  .compare-table-block
    padding: 30px

  .product-list-view-row
    flex-wrap: wrap

  .product-list-view-id
    width: 18%
    line-height: 1.5

  .product-list-view-title
    padding: 0
    width: calc(82% - 90px)

  .product-list-view-price
    width: auto
    flex-grow: 1
    margin-top: auto

  .product-list-view-inquire
    margin-left: auto

  .form-group
    display: block

  .form-label
    margin: 0 0 10px
    width: auto

  .account-form-left
    .form-submit
      padding: 0

  .product-list-view-delete
    margin-top: auto


  .basket-row
    display: block


  .basket-main
    margin: 0 0 30px
    width: 100%


  .basket-total
    width: 100%
    position: static


  .orders-list-item
    flex-wrap: wrap


  .order-list-item-products
    width: 300px
    min-width: 0
    margin: 0 0 25px


  .order-list-item-info
    width: calc(100% - 300px)
    padding-right: 30px
    margin: 0 0 25px


  .order-list-item-total
    width: auto
    flex-grow: 1


  .page-title
    .page-back-link
      top: 11px


  .page-back-link a
    font-size: 14px

    span
      font-size: 10px
      transform: translateY(1px)


  .order-product
    flex-wrap: wrap


  .order-product-img
    width: 150px
    height: 150px
    margin: 0 20px 20px 0


  .order-product-title
    width: calc(100% - 170px)
    flex-shrink: 0
    padding: 0
    margin: 0 0 20px


  .order-product-add-to-cart
    margin-left: auto


  .order-product-color
    width: 150px
    margin-right: 20px


  .order-products-list
    margin-bottom: 25px


  .order-info
    flex-wrap: wrap


  .order-info-total
    width: 50%
    margin: 0 0 20px


  .order-info-status
    width: 50%
    text-align: right
    margin: 0 0 20px

  .auth-block
    .back-to-main-link
      display: none

  .auth-layout-header
    .back-to-main-link
      display: flex
      position: absolute
      top: -12px
      left: 40px

      a
        width: 40px
        height: 40px

        &:after
          font-size: 14px

  .magazine-item
    width: calc(50% - var(--gutter))

  .s-post-banner
    .breadcrumbs
      top: 66px

  .post-banner
    img
      min-height: 360px

  .post-content-created
    margin-right: 40px

  .post-content-category
    height: 40px
    line-height: 38px
    padding: 0 30px
    font-size: 12px

  .post-content-views
    margin-left: 40px

  .post-content-descr
    margin-bottom: 40px
    font-size: 16px

  .text-block
    font-size: 14px
    margin-bottom: 40px

    img
      margin-bottom: 40px

  .img-gallery
    margin-bottom: 40px

  .s-post-content
    padding-bottom: 50px

  .about-advantages-item
    width: 50%

  .catalog-dropdown-tabs-nav
    span
      font-size: 14px
      margin-right: 20px

  .images-gallery-thumbs
    display: none

  .order-info-repeat
    width: 50%

  .order-info-right
    width: 50%

@media (max-width: 767.98px)

  .container
    padding: 0 25px

  .style-button-prev,
  .style-button-next
    display: none

  .product-main-img
    .swiper-slide
      grid-gap: 20px

  .advantages
    display: block

  .advantages-item-img
    position: static
    margin-bottom: 25px

  .advantages-item
    padding: 0
    margin-bottom: 25px

  .advantages-item-content
    max-width: none !important
    color: #000

  .advantages-item-content
    .h2
      font-size: 18px
      margin-bottom: 9px

    p
      font-size: 14px
      margin: 0

  .products-features
    ul
      font-size: 12px

  .set-list
    column-count: 2

  .account-form
    display: block

  .account-form-left
    width: 100%
    margin-bottom: 40px

  .form-submit
    margin-top: 25px

  .account-form-right
    padding: 0
    width: 100%

    .form-group
      max-width: none

  .compare-table-title
    margin-bottom: 35px

    .h1
      font-size: 22px
      text-align: center

  .compare-table
    position: relative

  .compare-table-parameters
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    text-align: center
    padding: 195px 0 0
    margin: 0

    ul
      width: 149px
      margin-left: auto
      margin-right: auto

      li
        font-size: 12px
        line-height: 1.5
        color: #c4c4c4
        margin-bottom: 55px
        height: 18px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: flex-end

        &:first-child
          display: none

  .compare-table-items
    position: relative
    z-index: 1
    width: 100%

  .compare-item-img
    height: 95px
    margin-bottom: 5px

  .compare-item-title
    font-size: 14px
    line-height: 1.36
    margin-bottom: 20px

  .compare-items-colors
    span
      width: 15px
      height: 15px
      margin: 0 3px

  .compare-items-colors
    height: 18px

  .compare-item-parameters
    ul
      li
        line-height: 1.36
        font-size: 14px
        margin-bottom: 55px

  .compare-item-btn
    .btn
      height: 40px
      text-align: center
      line-height: 38px
      padding: 0
      width: 100%
      font-size: 14px


  .basket-total-mob
    display: block


  .page-back-link
    a
      width: 30px
      height: 30px
      font-size: 0
      display: flex
      justify-content: center
      align-items: center
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      border-radius: 50%
      border: 1px solid #DEDBDB

      span
        font-size: 11px
        margin: 0
        transform: translate(-1px, 0)

  .magazine-categories-nav
    a
      height: 40px
      line-height: 38px
      padding: 0 40px
      font-size: 14px

  .accordion-title
    font-size: 18px

  .add-more
    padding-left: 0


@media (max-width: 575.98px)
  body.dark
    .header
      background-color: #000

    .header-location
      a
        &:after
          color: #fff

  .wrapper
    overflow: hidden
    padding-top: 60px

    &.wrapper--home,
    &.wrapper--auth
      padding-top: 0

  h1, .h1
    font-size: 20px

  h3, .h3
    font-size: 22px

  .container
    padding: 0 10px

  .btn
    height: 40px
    line-height: 40px
    font-size: 14px

  .btn-border
    line-height: 38px

  .header
    padding: 0
    height: 55px
    display: flex
    align-items: center
    position: absolute
    z-index: 10
    top: 0
    left: 0
    width: 100%
    background-color: #EEEFF3
    +tr4

    &.fixed
      position: fixed !important
      transform: translateY(-100%)

      &.visible
        transform: translateY(0)

      &.light
        .header-account-btn
          color: #000

        .header-location
          a
            &:after
              color: #000

    &.header-absolute
      background-color: transparent

      &.fixed
        background-color: #EEEFF3

    .container
      padding: 0 18px
      width: 100%


  .header-logo
    transform: none
    margin: 0 0 0 57px
    flex-grow: 1
    justify-content: center

    .logo
      img
        width: 105px

  .header-account
    flex-grow: 0
    width: auto
    margin-left: auto

  .header-location
    margin-right: 3px

    a
      &:after
        font-size: 18px
        width: 27px
        height: 27px
        display: flex
        align-items: center
        justify-content: center

  .header-account-btn
    height: 27px
    width: 27px
    font-size: 18px
    margin-right: 3px

  .s-main-window
    min-height: 532px
    display: flex
    flex-direction: column

  .main-window-content
    flex-grow: 1

    .container
      flex-grow: 1

  .banners-slider
    .swiper-slide
      display: flex
      flex-direction: column
      justify-content: flex-end
      height: auto

  .banner-item-title
    font-size: 20px
    margin-bottom: 10px

  .banner-item
    p
      font-size: 14px

    .btn
      min-width: 191px

  .main-window-logo
    margin-top: auto

  .brands-row
    margin: 0 -8px

  .brands-row-item
    padding: 0 8px

  .s-brands
    padding: 35px 0

  .brands-row-item
    margin: 13px 0

  .categories-col
    width: 100%

    .categories-item
      overflow: hidden
      height: 417px !important
      text-align: center

      &:nth-child(odd)
        height: 255px !important

    .categories-item-tag
      margin-bottom: 2px
      font-size: 14px

    .categories-item-text
      margin-top: 0

    .categories-item-title
      transform: none !important
      font-size: 18px

    .categories-item-descr
      display: none !important

    .categories-item-content
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      padding: 30px
      text-align: center
      justify-content: flex-end

    .categories-item-tag
      font-size: 10px


  .categories-col:last-child
    width: 100% !important
    margin: 0

    .categories-item
      width: 100% !important
      margin: 0 0 20px !important


  .products-slider
    margin-top: 0


  .products-slider
    padding-right: 40px


  .product-item
    padding: 50px 15px 20px
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px


  .product-item-tag
    top: 15px
    left: 15px

  .footer
    padding-bottom: 30px


  .footer-contacts
    text-align: center

    .h3, h3
      margin-bottom: 10px
      font-size: 18px

    p
      margin-bottom: 25px


  .subscribes-form-input
    height: 40px
    padding: 0 60px 0 20px
    font-size: 12px
    border-radius: 10px

  .subscribes-form
    .btn
      height: 40px
      line-height: 40px
      padding: 0 22px
      border-radius: 10px
      font-size: 14px


  .footer-row .col-6
    margin-bottom: 25px


  .footer-col
    width: 100% !important

  .footer-nav
    align-items: center
    margin-bottom: 10px

  .footer-mob-logo
    display: block
    padding: 0 10px
    width: 100%
    text-align: center
    margin: 15px 0 25px

    img
      width: 50px

  .soc-nav
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    text-align: center
    margin-left: -16px
    margin-right: -16px

    span
      order: -1
      margin-bottom: 10px
      width: 100%

    a
      margin: 0 16px

  .footer-bottom
    display: flex
    flex-direction: column-reverse

  .footer-logo
    display: none

  .footer-pay
    width: calc(100% + 34px)
    margin: 0 -17px 40px
    justify-content: center

    img
      max-width: 53px
      max-height: 15px
      flex-shrink: 0
      margin: 0 17px
      object-fit: contain

  .footer-bottom-left
    text-align: center
    display: block
    padding: 0
    font-size: 12px

  .footer-copyright
    margin: 0 0 6px

  .breadcrumbs
    margin: 0 0 13px

  .page-title
    margin-bottom: 20px

  .catalog-list .row > *
    width: 100%

  .open-filter-btn
    height: 40px
    border-radius: 20px
    padding: 0 19px
    font-size: 12px
    bottom: 20px

    &.absolute
      bottom: 40px

    span
      font-size: 19px
      margin-right: 12px

  .s-brands-main
    padding: 72px 0 20px
    min-height: 360px

  .brands-main-window-content
    margin-top: 0
    display: flex
    flex-direction: column
    align-items: center
    flex-grow: 1

  .brands-main-window-content-left
    margin-right: 0
    margin-bottom: 30px
    text-align: center
    flex-grow: 1
    align-items: center

    p
      display: none

  .brands-logo-block
    width: 107px
    height: 57px
    border-radius: 10px
    margin-right: 10px

  .brands-official
    width: 107px
    height: 57px
    border-radius: 10px
    padding: 4px 12px
    font-size: 11px
    line-height: 1.3636

  .product-main-info
    padding: 30px 10px 45px

  .product-main-id
    font-size: 12px
    margin-bottom: 10px

  .product-title
    margin-bottom: 10px

    h1
      font-size: 16px

  .product-colors
    margin-bottom: 30px

  //.product-colors-block
  //  height: 40px
  //  padding: 0 7px
  //  max-width: 86px
  //
  //  span
  //    width: 16px
  //    height: 16px !important
  //
  //    &:after
  //      width: 20px
  //      height: 20px
  //      margin-top: -10px
  //      margin-left: -10px

  .product-main-info-content
    margin-bottom: 35px

  .product-buy
    .btn
      height: 40px
      line-height: 38px
      padding: 0 57px
      font-size: 14px

  .s-product
    padding-top: 10px

  .product-gifts
    border-top: none
    padding-top: 25px
    position: relative
    display: block
    text-align: center

    &:after
      content: ''
      position: absolute
      top: 0
      left: -10px
      right: -10px
      background-color: #DEDBDB
      height: 1px

  .product-gifts-left
    margin-bottom: 15px

    .h3
      font-size: 18px
      margin-bottom: 8px

    p
      font-size: 12px

  .gifst-list
    justify-content: center

  .s-products-features
    padding-top: 20px

    .h3
      text-align: center
      font-size: 22px
      margin-bottom: 28px

  .products-features
    margin-bottom: 28px

    ul
      li
        span
          &:first-child
            width: 50vw
            min-width: 0

  .products-features-descr
    border-top: none
    padding-top: 0

  .section-title
    text-align: center
    margin-bottom: 30px

    .h3
      font-size: 22px

  .similar-slider
    .categories-item
      border-radius: 0

  .s-similar
    padding: 30px 0 0

  .similar-slider
    .categories-item-content
      padding: 28px 20px 30px
      text-align: center

      &:after
        display: none

    .categories-item-tag
      font-size: 14px
      text-align: center

    .categories-item-title
      font-size: 18px

    .categories-item-descr
      margin-top: 10px
      font-size: 14px

    .swiper-slide-active
      .categories-item-title
        transform: none !important

      .categories-item-descr
        transform: none !important
        opacity: 1 !important

  .product-main-img
    .swiper-slide
      grid-gap: 10px

  .product-main-img-slider
    .swiper-container
      overflow: hidden auto !important

    .swiper-wrapper
      transform: none !important
      transition-duration: 0s !important

  .product-img-nav-prev,
  .product-img-nav-next
    display: none

  .product-main-img-scroll
    display: grid
    grid-gap: 10px
    grid-template-columns: 1fr 1fr
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow-y: auto

    &.length-3
      .product-main-img-container:first-child
        padding-bottom: calc(50% - 5px)
        padding-top: 0
        grid-column: span 2

    .product-main-img-container
      &.wide
        padding-bottom: calc(50% - 5px)
        padding-top: 0
        grid-column: span 2

  .product-main-info
    &.visible-content
      .product-main-id
        max-height: 19px
        margin-bottom: 10px

        span
          opacity: 1
          transform: translateY(0)

      .product-colors
        max-height: 40px
        margin-bottom: 30px

      .product-colors-block
        opacity: 1
        transform: translateY(0)


  .product-main-id
    +tr
    max-height: 0
    margin-bottom: 0

    span
      display: block
      opacity: 0
      transform: translateY(-10px)
      +tr

  .product-colors
    +tr
    margin-bottom: 0
    max-height: 0

  .product-colors-block
    opacity: 0
    transform: translateY(-10px)
    +tr

  .product-buy
    margin-top: 10px

  .product-main-img
    margin-bottom: 10px

  .s-product + .s-product-advantages
    margin-top: -15px

  .product-description
    padding-bottom: 23px

  .product-features
    margin-bottom: 0

    [class*=col-]
      width: 100%

    .h5
      position: relative
      font-size: 16px
      padding-right: 45px
      margin-bottom: 0

      &:after
        content: ''
        position: absolute
        top: -4px
        right: 0
        width: 29px
        height: 29px
        z-index: 1

      &.active
        span
          border-color: #7A7A7A

          &:after
            background-color: #7A7A7A

          &:before
            transform: rotate(90deg)
            background-color: #7A7A7A

      span
        position: absolute
        top: -4px
        right: 0
        width: 29px
        height: 29px
        -webkit-border-radius: 50%
        -moz-border-radius: 50%
        border-radius: 50%
        border: 1px solid #DEDBDB
        +tr

        &:after
          content: ''
          width: 13px
          height: 1px
          background-color: #C4C4C4
          position: absolute
          top: 13px
          left: 7px

        &:before
          content: ''
          width: 1px
          height: 13px
          background-color: #C4C4C4
          position: absolute
          top: 7px
          left: 13px
          +tr


  .products-features-list
    overflow: hidden
    +tr4
    max-height: 0

    ul
      padding-top: 25px

  .product-set
    padding-top: 20px
    margin: 0 0 20px

    .h3
      text-align: left
      margin-bottom: 15px

    .btn
      display: block
      width: 100%
      height: 40px
      line-height: 38px
      font-size: 14px

  .set-list
    column-count: 1
    margin-bottom: 15px

    li
      margin: 0 0 8px
      font-size: 12px

  .s-products-features
    padding-bottom: 10px

  .offers-row
    grid-template-columns: 1fr
    grid-gap: 25px

  .s-product
    & + .s-product-video
      margin-top: -30px

  .video-poster
    span
      width: 60px
      height: 60px

      &:after
        font-size: 25px

  .s-additional-advantages
    padding: 20px 0

  .product-page
    &.dark
      .product-main-info
        margin-left: -10px
        margin-right: -10px

      .product-gifts
        &:after
          background-color: #7a7a7a
          left: 0
          right: 0

      .advantages-item-content
        color: #fff

      .additional-advantages
        margin-left: -10px
        margin-right: -10px

      .operation-block
        margin-left: -10px
        margin-right: -10px

      .compare-table-block
        margin-left: -10px
        margin-right: -10px

      .s-products-features
        padding-bottom: 65px

      .product-features
        ul
          li
            span
              &:last-child
                color: #fff

        .h5
          &.active
            span
              border-color: #7A7A7A

              &:after,
              &:before
                background-color: #7A7A7A

          span
            border-color: #404040

            &:after,
            &:before
              background-color: #404040

  .additional-advantages
    padding: 35px 30px

  .additional-advantages-descr
    margin-bottom: 80px

    .h1
      font-size: 22px
      margin-bottom: 20px

    p
      line-height: 1.5

  .additional-advantages-list
    grid-template-columns: 1fr
    grid-gap: 50px

  .additional-advantages-item
    text-align: left
    display: flex
    align-items: center

  .additional-advantages-item-img
    height: 66px
    width: 77px
    margin: 0 30px 0 0

  .additional-advantages-item-title
    font-size: 14px

  .advantages-item
    &.no-text
      .advantages-item-img
        margin: 0

  .operation-block
    padding: 35px 30px 65px

  .operation-content
    margin-bottom: 70px

    .h1
      font-size: 22px
      margin-bottom: 20px
      text-align: center

    p
      font-size: 14px
      line-height: 1.5

  .compare-table-block
    padding: 55px 19px 80px

  .slider-scrollbar
    margin-top: 25px

  .catalog-filter
    width: 100%

  .catalog-filter-btn
    display: block
    margin-top: 20px

  .account-block
    margin-left: -10px
    margin-right: -10px
    padding: 18px 30px 57px

  .form-title
    margin-bottom: 25px
    font-size: 16px

  .form-control
    height: 40px
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    padding: 0 20px
    font-size: 14px

  .check-password
    width: 21px
    height: 21px
    top: 10px
    right: 15px

    &.active
      &:after
        width: 18px

  .pass-input
    padding-right: 50px

  .form-checkbox
    label > span
      padding-left: 32px

      &:after
        width: 20px
        height: 20px

      &:before
        width: 8px
        height: 8px
        top: 6px
        left: 6px

  .account-form-right
    .form-submit
      display: block

  .auth-layout-header
    padding: 19px 0
    margin: 0

    .header-logo
      margin: 0

  .auth-layout
    display: flex
    flex-direction: column
    min-height: calc(100 * var(--vh))

  .auth-page
    padding: 0
    flex-grow: 1
    display: flex
    flex-direction: column

    .container
      flex-grow: 1
      display: flex
      flex-direction: column

  .auth-block
    margin: 0 -10px
    height: 100%
    flex-grow: 1
    padding: 26px 32px

  .auth-form
    .form-title
      font-size: 18px
      margin-bottom: 35px

  .form-footer-link
    margin-top: 15px

    a
      font-size: 12px

  .auth-layout-header
    .back-to-main-link
      top: 13px
      left: 18px

      a
        width: 30px
        height: 30px

        &:after
          content: '\e90f'
          font-size: 11px

  .radio-group
    .form-label
      margin-bottom: 15px

  .filter-view-type
    height: 40px
    padding: 0 8px

    span
      font-size: 14px
      margin: 0 5px

  .product-list-view
    padding: 20px 15px 30px
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    position: relative

  .product-list-view-img
    width: 109px
    padding-right: 13px

  .product-colors-images
    width: 96px
    height: 96px

  .product-list-view-tag
    display: none
    font-size: 14px

    &.mob
      display: block
      width: 100%

  .product-list-view-id
    display: none

    &.mob
      display: block
      width: 100%
      padding: 0
      margin-bottom: 10px

  .product-list-view-title
    width: calc(100% - 109px)
    //margin-top: 30px

    .h6
      font-size: 14px

  .product-colors-qnt
    padding: 0
    width: 100%
    display: flex
    justify-content: center
    align-items: flex-start
    margin: 20px 0 10px

  .product-color-item
    margin: 0 7px
    flex-direction: column
    text-align: center

  .product-color-item-texture
    width: 25px
    height: 25px
    margin: 0 0 5px

  .product-color-item-quantity
    margin: 0
    width: 64px
    height: 25px
    line-height: 25px
    font-size: 12px

  .product-color-item-price
    margin-top: 7px
    font-size: 12px

  .product-list-view-price
    margin-top: 10px
    width: 100%
    padding: 0
    font-size: 16px
    text-align: center

  .product-list-view-cart
    margin-top: 24px
    width: 100%
    padding: 0

    .btn
      width: 100%

  .product-list-view-inquire
    width: 100%
    margin: 25px 0 0
    font-size: 16px
    text-align: center

  .compare-items-list
    margin: 0 -5px

    .compare-item
      padding: 0 5px

  .vs__dropdown-toggle
    height: 40px
    border-radius: 10px

  .vs__selected-options
    padding: 0 10px

  .vs__actions
    padding: 0 10px 0 0

    &:after
      font-size: 7px

  .vs__selected
    font-size: 12px

  .vs__dropdown-option
    padding: 8px 10px
    font-size: 12px

  .vs__dropdown-menu
    min-width: 0

  .compare-table-parameters
    padding-top: 180px

  .compare-item-btn
    max-width: 136px
    margin-left: auto
    margin-right: auto


  .basket-item
    padding: 16px 22px 19px 14px

    .product-list-view-img
      padding: 0
      width: 47px
      height: 47px
      margin: 0 16px auto 0

    .product-colors-qnt
      width: 100%
      flex-direction: column
      padding-left: 63px

    .product-color-item
      flex-direction: row
      margin: 0 0 5px

      &:last-child
        margin-bottom: 0

    .product-color-item-texture
      margin: 0 4px 0 0
      width: 20px
      height: 20px

    .product-color-item-quantity
      width: 40px
      height: 20px
      line-height: 20px

    .product-color-item-price
      margin: 0 0 0 4px

    .product-list-view-price
      font-size: 14px
      width: calc(100% - 62px)
      text-align: left
      padding-left: 63px


  .product-list-view-delete
    width: 62px
    flex-shrink: 0

    a
      font-size: 12px

      span
        font-size: 7px
        margin-top: 0
        margin-left: 7px


  .basket-list
    margin-bottom: 60px


  .basket-gifts-block
    padding: 15px 18px 19px
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px


  .basket-gifts-block-item
    width: 66px
    height: 66px
    flex-shrink: 0
    margin-right: 49px
    -webkit-border-radius: 7px
    -moz-border-radius: 7px
    border-radius: 7px

    &:after
      font-size: 9px
      right: -29px
      top: calc(50% - 4.5px)


  .ordering
    margin-left: -10px
    margin-right: -10px
    padding: 35px


  .ordering-title
    font-size: 20px
    margin-bottom: 42px


  .ordering-form
    .h4
      margin-bottom: 25px
      font-size: 16px


  .delivery-type
    flex-wrap: wrap

    .form-group
      margin: 0 0 20px 0

      &:last-child
        margin-bottom: 0


  .form-group:not(.form-group-checkbox)
    & + .form-group-checkbox
      margin-top: -13px


  .delivery-address
    .v-select
      width: 100%

  .form-row
    grid-gap: 10px


  .checkbox-with-img
    img
      height: 29px
      margin-right: 12px

  .delivery-captcha
    p
      margin-bottom: 10px

  .delivery-confirm
    .btn
      min-width: 0
      width: 100%

  .basket-total-prices
    margin-bottom: 17px

    ul
      li
        margin-bottom: 10px
        font-size: 16px

  .basket-total-promocode
    margin-bottom: 17px

    input
      height: 40px
      padding: 0 50px 0 18px

    button
      width: 40px
      height: 40px
      font-size: 16px

  .basket-total-price
    line-height: 1.375
    font-size: 16px
    margin-bottom: 20px

    br
      display: none

    span
      &:last-child
        font-size: 20px

  .basket-total-links
    margin-top: 40px

    a
      font-size: 14px
      margin-bottom: 5px

  .header-account-btn
    .basket-quantity
      font-size: 10px
      bottom: 7px

  .page-title
    .page-back-link
      top: -3px

  .orders-list-item
    padding: 20px 15px 25px
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    margin-bottom: 25px

  .order-list-item-info
    width: 100%
    padding: 0
    display: flex
    align-items: center
    margin: 0 0 20px
    order: 1

  .order-list-item-info-date
    flex-grow: 1
    margin: 0 15px 0 0
    font-size: 14px

  .order-list-item-info-number
    font-size: 14px

  .order-list-item-products
    width: 100%
    margin: 0 0 20px
    -webkit-border-radius: 14px
    -moz-border-radius: 14px
    border-radius: 14px
    height: 67px
    padding: 0 14px
    order: 2

    .swiper-slide
      width: 50px
      height: 50px


  .order-list-item-total
    flex-grow: 1
    order: 3
    margin-bottom: 20px
    font-size: 14px

  .order-list-item-status
    width: auto
    display: inline
    text-align: right
    order: 4
    font-size: 14px
    margin-bottom: 20px

  .order-list-item-repeat
    order: 5
    width: calc(100% - 43px)

    .btn
      width: 100%

  .order-list-item-check
    order: 6
    margin: 0 0 0 22px

    a
      font-size: 21px

  .page-title
    p
      font-size: 14px
      margin-top: 2px

  .order-products-list
    padding: 0 15px
    margin: 0 0 30px

  .order-product
    padding: 40px 0

    &:first-child
      padding-top: 20px

    &:last-child
      padding-bottom: 27px

  .order-product-img
    width: 93px
    height: 113px
    margin-right: 16px
    margin-bottom: auto
    padding-bottom: 20px

  .order-product-title
    width: calc(100% - 109px)

  .order-product-color
    flex-grow: 1
    width: auto

    .product-colors-qnt
      margin: 0
      width: auto
      justify-content: flex-start

    .product-color-item
      flex-direction: row
      margin: 0

    .product-color-item-texture
      margin: 0 5px 0 0

    .product-color-item-quantity
      margin: 0 5px 0 0

    .product-color-item-price
      margin: 0
      font-size: 14px

  .order-product-price
    width: auto
    margin: 0
    font-size: 14px

  .order-product-add-to-cart
    width: 100%
    margin: 15px 0 5px

    *
      margin: 0
      padding: 0

    .product-list-view-inquire
      height: 40px
      display: flex
      align-items: center
      justify-content: center
      font-size: 14px

  .order-info
    padding: 0 15px

  .order-info-total
    order: 2
    text-align: right
    font-size: 14px

  .order-info-status
    order: 1
    text-align: left
    font-size: 14px

  .order-info-repeat
    order: 3
    width: 100%
    margin: 0 0 20px

    .btn
      width: 100%

  .order-info-pdf
    order: 4
    width: 100%
    text-align: center
    padding: 0

    a
      justify-content: center
      font-size: 14px

      span
        font-size: 21px
        margin-left: 14px


  .brands-row
    flex-direction: column
    align-items: center


  .brands-row-item
    margin: 20px 0
    width: 100%
    max-width: 175px


  .brands-row-item-img
    img
      max-height: 35px

  .s-main-window
    min-height: calc(100 * var(--vh))
    padding-top: calc(var(--vh) * 20)

  .magazine-row
    margin: 0

  .magazine-item
    width: 100%
    margin-bottom: 40px

  .s-magazine
    .magazine-item
      &:nth-child(odd)
        .categories-item-img
          height: 255px

      .categories-item
        height: auto

      .categories-item-img
        position: relative
        width: 100%
        height: 420px

        img
          transform: none !important

      .categories-item-tag
        font-size: 16px
        text-align: center
        position: absolute
        left: 0
        width: 100%
        top: -41px
        margin: 0
        color: #fff

      .categories-item-content
        color: #000
        padding: 15px 0 0

      .categories-item-title
        transform: none !important
        font-size: 20px
        line-height: 1.3

      .categories-item-descr
        opacity: 1
        transform: translateY(0)
        font-size: 14px
        margin: 15px 0 0

      .magazine-row-sizer
        width: 100%

      .magazine-row-gutter
        width: 0

      .categories-item
        > a
          display: none

      .categories-item-more
        display: block

  .s-categories
    .magazine-item
      margin-bottom: 25px

  .magazine-categories
    overflow-x: auto

    &::-webkit-scrollbar
      display: none
      opacity: 0

  .mob-back-link
    display: block

  .post-banner
    position: relative

    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: linear-gradient(355.82deg, rgba(0, 0, 0, 0.3) 3.41%, rgba(0, 0, 0, 0) 121.52%)

    img
      display: none

      &.post-banner-mob
        display: block

  .s-post-banner

    .breadcrumbs
      left: 18px
      right: 18px
      width: auto

      .container
        padding: 0

    .mob-back-link
      top: 100px
      left: 18px
      z-index: 2

      a
        background-color: rgba(255, 255, 255, 0.2)

  .s-post-content
    padding: 30px 0

  .post-content
    h1, .h1
      font-size: 30px
      margin-bottom: 20px

  .post-content-created
    font-size: 12px
    margin-right: 14px

  .post-content-views
    font-size: 12px
    margin-left: 14px

  .post-content-info
    margin-bottom: 20px

  .post-content-descr
    margin-bottom: 50px
    font-size: 14px

  .text-block
    img
      margin-left: -10px
      width: calc(100% + 20px)

    h3, .h3
      font-size: 20px

  .img-gallery
    margin-bottom: 30px
    padding-left: 58px
    padding-right: 58px

  .error-component
    min-height: calc(100 * var(--vh))
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

  .error
    padding: 50px 0

    h1, .h1
      font-size: 30px
      max-width: 180px
      margin: 0 auto 40px

    img
      width: 83px
      margin-bottom: 90px

  .error-nav
    .h4
      font-size: 14px
      margin-bottom: 19px

    ul
      li
        margin-right: 23px

        a
          font-size: 14px

  .accordion-item
    margin-bottom: 2px

  .accordion-title
    height: 80px

  .accordion-item-toggle
    width: 31px
    height: 31px

    &:before
      height: 11px
      margin: 0
      width: 1px
      top: 9px
      left: 14px

    &:after
      width: 11px
      margin: 0
      height: 1px
      top: 14px
      left: 9px

  .accordion-body-content
    padding: 25px 20px

  .quarantee-form-title
    font-size: 14px
    line-height: 1.7
    margin-bottom: 15px

  .quarantee-form-group
    .form-control
      height: 40px
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px
      margin-bottom: 10px

    .btn
      position: static
      display: block
      width: 100%
      text-align: center

  .quarantee-form
    margin-bottom: 50px

  .s-for-users
    .h4
      font-size: 18px
      margin-bottom: 20px

  .quarantee-defect
    ol
      li
        padding-left: 0
        margin: 0

        &:before
          position: static
          margin-right: 4px

    p
      font-size: 12px

  .quarantee-terms
    text-align: center

    p
      text-align: left
      font-size: 12px

  .quarantee-term
    width: 100% !important
    margin-bottom: 40px
    padding: 0

    ul
      li
        margin: 0

  .quarantee-term-title
    margin-bottom: 15px

  .guarantee-warranty-cases
    ul
      li
        &:before
          top: 11px

  .s-about
    padding: 0 0 80px

  .about-banner
    margin: 0 -10px 22px

  .about-descr
    margin-bottom: 50px

  .about-advantages
    margin-bottom: 120px

  .about-advantages-item
    width: 100%
    padding-bottom: 50px

  .about-advantages-item-img
    height: auto
    width: 135px
    margin-bottom: 37px

  .about-blockquote
    .h3
      font-size: 20px
      margin-bottom: 10px

  .header-account-link
    margin-right: 3px

  .header-acc-dropdown
    width: 270px
    padding: 15px
    right: -38px

    &:after
      right: 41px

  .header-acc-dropdown-user
    font-size: 12px
    margin-right: 15px

  .header-acc-dropdown-exit
    a
      font-size: 12px

  .header-acc-dropdown-header
    padding-bottom: 15px

  .header-acc-dropdown-links
    a
      font-size: 12px

      span
        font-size: 14px
        margin-right: 7px

  .registration-step-2-inputs
    .form-group:not(.form-group-checkbox) + .form-group-checkbox
      margin-top: 0

    .form-checkbox
      margin-top: 17px

  .registration-step-3
    .form-descr
      margin: 14px 0 30px
      font-size: 14px

  .upload-file
    padding-bottom: 100%
    width: 100%

  .upload-file-preview
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url(/img/upload-preview-mob.svg)
    font-size: 14px

  .registration-step-3
    .form-submit
      .btn
        padding: 0
        width: 100%

  .subscribes-form
    max-width: none

  .subscribe-form-title
    font-size: 16px

  .search-details
    padding-right: 0

  .product-item-img
    margin: -50px -15px 15px

  .product-img-slider-prev,
  .product-img-slider-next
    width: 40px
    height: 40px
    margin-top: -20px
    font-size: 16px

  .popup-close
    width: 40px
    height: 40px
    font-size: 14px
    border-color: #DEDBDB
    color: #C4C4C4
    background-color: rgba(#fff, .2)
    top: 22px
    right: 12px

  .images-gallery-component
    padding: 83px 0 20px

  .order-info-left
    order: 1

  .order-info-right
    order: 3
    width: 100%

  .order-info-repeat
    order: 2
    width: 100%

  .order-info-total
    padding-right: 0

  .magazine-categories
    bottom: 25px

  .img-full-slider-prev
    left: 10px
    width: 40px
    height: 40px
    margin-top: -20px

    &:after
      font-size: 15px

  .img-full-slider-next
    right: 10px
    width: 40px
    height: 40px
    margin-top: -20px

    &:after
      font-size: 15px

  .product-marketplaces-row
    flex-direction: column

  .product-marketplace
    position: relative
    padding-left: 65px
    text-align: left
    margin: 0 0 20px

    &:last-child
      margin: 0

  .product-marketplace-img
    position: absolute
    top: 0
    left: 0

    img
      width: 50px
      height: 50px
      -webkit-border-radius: 6px
      -moz-border-radius: 6px
      border-radius: 6px

  .product-marketplaces
    margin-top: 30px
