body
  background-color: #EEEFF3

a
  text-decoration: none

.container
  padding: 0 70px
  max-width: 100%

h1, .h1
  font-size: 60px
  font-weight: bold
  line-height: 1.167
  margin-bottom: 45px

h2, .h2
  font-size: 40px
  margin-bottom: 15px
  font-weight: bold
  line-height: 1.35

h3, .h3
  font-weight: bold
  font-size: 30px
  margin-bottom: 12px
  line-height: 1.367

.btn
  display: inline-block
  position: relative
  white-space: nowrap
  border: none
  outline: none !important
  text-decoration: none !important
  color: #fff
  background-color: $accent
  height: 50px
  line-height: 50px
  -webkit-border-radius: 25px
  -moz-border-radius: 25px
  border-radius: 25px
  padding: 0 50px
  font-weight: 500
  font-size: 16px
  +tr

  &:hover
    background-color: #ff7b4a
    color: #fff

  &:disabled
    border-color: #DEDBDB !important
    background-color: #DEDBDB !important
    color: #7A7A7A !important

.btn-sm
  height: 40px
  line-height: 40px
  &.btn-border
    line-height: 38px

.btn-border
  background-color: transparent
  border: 1px solid $accent
  line-height: 48px
  color: #000
  &:hover
    background-color: transparent
    color: $accent
  &:active
    color: #fff
    background-color: $accent

.tabs
  &-enter-active
    transition: opacity .4s ease
  &-enter
    opacity: 0
  &-enter-to
    opacity: 1
  &-leave
    display: none

.row
  display: flex
  flex-wrap: wrap
  margin: 0 -25px
  & > [class*=col-]
    padding: 0 25px
    flex-shrink: 0

.col-1
  width: 8.33333%

.col-2
  width: 16.66666%

.col-3
  width: 25%

.col-4
  width: 33.33333%

.col-6
  width: 50%

.loading
  &:not(.btn)
    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      z-index: 2
      width: 100%
      height: 100%
      background-color: rgba(#fff, .85)
      background-image: url(/img/loaders/dots.svg)
      background-size: 30px
      background-repeat: no-repeat
      background-position: center

.slider-pagination
  display: flex
  align-items: center
  justify-content: center
  .swiper-pagination-bullet
    width: 9px
    height: 9px
    +tr
    margin: 0 5px
    background-color: #fff
    opacity: 1
    &.swiper-pagination-bullet-active
      background-color: $accent
