html
  scroll-behavior: auto !important

body
  background-color: #EEEFF3

  &.dark
    background-color: #000

    .logo
      img
        display: none

      .logo-dark-theme
        display: block !important

    .header-location
      color: #fff

    .header-account-btn
      color: #fff

    .footer
      background-color: #F6F6F6

a
  text-decoration: none

.container
  padding: 0 70px
  max-width: 100%

h1, .h1
  font-size: 60px
  font-weight: bold
  line-height: 1.167
  margin-bottom: 45px

h2, .h2
  font-size: 40px
  margin-bottom: 15px
  font-weight: bold
  line-height: 1.35

h3, .h3
  font-weight: bold
  font-size: 30px
  margin-bottom: 12px
  line-height: 1.367

h4, .h4
  font-size: 20px
  font-weight: bold
  margin-bottom: 25px
  line-height: 1.367

h5, .h5
  margin-bottom: 25px
  font-size: 18px
  font-weight: bold
  line-height: 1.367

.btn
  display: inline-block
  position: relative
  white-space: nowrap
  border: none
  outline: none !important
  text-decoration: none !important
  color: #fff
  background-color: $accent
  height: 50px
  line-height: 50px
  -webkit-border-radius: 25px
  -moz-border-radius: 25px
  border-radius: 25px
  padding: 0 50px
  font-weight: 500
  font-size: 16px
  text-align: center
  +tr

  &:hover
    background-color: #ff7b4a
    color: #fff

  &:disabled
    border-color: #DEDBDB !important
    background-color: #DEDBDB !important
    color: #7A7A7A !important

.btn-sm
  height: 40px
  line-height: 40px

  &.btn-border
    line-height: 38px

.btn-border
  background-color: transparent
  border: 1px solid $accent
  line-height: 48px
  color: #000

  &:hover
    background-color: transparent
    color: $accent

  &:active
    color: #fff
    background-color: $accent

.btn-block
  width: 100%

.tabs
  &-enter-active
    transition: opacity .4s ease

  &-enter
    opacity: 0

  &-enter-to
    opacity: 1

  &-leave
    display: none

.row
  display: flex
  flex-wrap: wrap
  margin: 0 -25px

  & > [class*=col-]
    padding: 0 25px
    flex-shrink: 0

.col-1
  width: 8.33333%

.col-2
  width: 16.66666%

.col-3
  width: 25%

.col-4
  width: 33.33333%

.col-6
  width: 50%

.col-9
  width: 75%

.col-12
  width: 100%

.loading
  &:not(.btn)
    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      z-index: 2
      width: 100%
      height: 100%
      background-color: rgba(#fff, .85)
      background-image: url(/img/loaders/dots.svg)
      background-size: 30px
      background-repeat: no-repeat
      background-position: center

.slider-pagination
  display: flex
  align-items: center
  justify-content: center

  .swiper-pagination-bullet
    width: 9px
    height: 9px
    +tr
    margin: 0 5px
    background-color: #fff
    opacity: 1

    &.swiper-pagination-bullet-active
      background-color: $accent

.breadcrumbs
  margin: 20px 0 19px

  ul
    list-style-type: none
    padding: 0
    margin: 0
    align-items: center

    li
      position: relative
      display: inline
      color: #C4C4C4

      &:after
        content: ' /'
        display: inline

      &:last-child
        &:after
          display: none

      a
        color: inherit
        +tr
        text-decoration: none !important

        &:hover
          color: $accent

.page-title
  text-align: center
  margin-bottom: 70px

  h1, .h1
    margin: 0

.section-title
  margin-bottom: 50px

  h3, .h3
    margin: 0

.swiper-container-horizontal
  .swiper-slide
    height: auto !important

    > *
      &:not(.categories-item)
        height: 100%

.layout-enter-active,
.layout-leave-active
  transition: opacity .5s ease, transform .5s ease

.layout-enter,
.layout-leave-active
  opacity: 0
  transform: translateY(40px)

.slider-scrollbar
  -webkit-border-radius: 6px
  -moz-border-radius: 6px
  border-radius: 6px
  height: 6px
  background-color: #F7F7F7
  .swiper-scrollbar-drag
    background-color: #C4C4C4
