.account-block
  background-color: #fff
  padding: 71px 153px 155px

.account-form
  display: flex

.account-form-left
  width: 50%
  flex-shrink: 0
  .form-submit
    padding-left: 155px

.account-form-right
  width: 50%
  flex-shrink: 0
  padding-left: 200px
  .form-group
    max-width: 407px
  .form-submit
    display: none

.account-form-data
  max-width: 560px
