.basket-row
  display: flex

.basket-item
  padding-right: 55px

  .product-list-view-price
    width: 220px

  .product-list-view-title
    margin-top: auto

.product-list-view-delete
  a
    display: flex
    align-items: center
    font-size: 14px
    color: #7a7a7a
    +tr

    span
      margin-left: 7px
      font-size: 9px
      margin-top: 3px
      +tr

    &:hover
      span
        transform: rotate(270deg)

.basket-main
  flex-grow: 1
  margin-right: 49px
  max-width: calc(100% - 487px)

.basket-total
  width: 438px
  flex-shrink: 0
  position: sticky
  height: 100%
  top: 20px

  &.loading
    &:after
      background-color: rgba(#EEEFF3, .85)

.basket-total-prices
  margin-bottom: 30px

  ul
    list-style-type: none
    padding: 0
    margin: 0

    li
      display: flex
      justify-content: space-between
      align-items: center
      white-space: nowrap
      margin-bottom: 20px
      font-size: 16px

      &.discount
        color: $accent

      &:last-child
        margin-bottom: 0

      span
        &:first-child
          margin-right: 20px

        &:last-child
          font-size: 20px
          font-weight: bold
          white-space: nowrap

.basket-total-promocode-block
  margin-bottom: 26px

.basket-total-promocode
  position: relative

  input
    width: 100%
    display: block
    height: 60px
    background-color: #fff
    -webkit-border-radius: 30px
    -moz-border-radius: 30px
    border-radius: 30px
    outline: none
    padding: 0 75px 0 25px
    font-size: 16px
    border: 1px solid transparent
    +tr

    &.success
      border-color: #00e100

    &::placeholder
      color: #c4c4c4

  button
    position: absolute
    top: 0
    right: 0
    width: 60px
    height: 60px
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
    border: none
    outline: none
    display: flex
    align-items: center
    justify-content: center
    +tr
    color: #fff
    font-size: 24px
    background-color: $accent
    overflow: hidden

    &[disabled]
      background-color: #C4C4C4
      cursor: default
      color: #7A7A7A

    &:after
      background-size: 20px

    span
      transform: translateX(2px)
      position: relative

      &:before
        display: block
        +tr

      &:after
        content: '\e91c'
        position: absolute
        top: 0
        left: 0
        opacity: 0
        transform: scale(0)
        +tr

    &:hover:not([disabled])
      background-color: #ff7b4a

    &.clear
      &:not([disabled])
        background-color: $red

      span
        &:after
          opacity: 1
          transform: scale(1)

        &:before
          opacity: 0
          transform: scale(0)

      &:hover:not([disabled])
        background-color: #bd2c3a

.basket-total-promocode-success
  color: $green
  font-size: 12px
  margin-top: 10px

.basket-total-price
  margin-bottom: 45px
  display: flex
  justify-content: space-between
  font-size: 18px
  line-height: 1.8
  font-weight: bold

  span
    &:first-child
      margin-right: 20px

    &:last-child
      font-size: 30px
      line-height: 1.3333
      font-weight: bold
      margin-top: auto
      white-space: nowrap

.basket-total-links
  margin-top: 36px
  display: flex
  align-items: flex-start
  flex-direction: column
  padding-left: 40px

  a
    margin-bottom: 10px
    color: #7A7A7A
    line-height: 1.8
    font-size: 20px
    +tr

    &:hover
      color: $accent

    &:last-child
      margin-bottom: 0

.basket-list
  margin-bottom: 120px

  &.loading
    &:after
      background-color: rgba(#EEEFF3, .85)

.basket-gifts-block
  display: inline-flex
  background-color: #F7F7F7
  -webkit-border-radius: 20px
  -moz-border-radius: 20px
  border-radius: 20px
  padding: 37px 46px 36px 36px

.basket-gifts-block-text
  flex-grow: 1
  margin-right: 75px

  .h5
    margin-bottom: 10px
    line-height: 1.5
    font-size: 24px

  p
    margin: 0
    font-size: 16px
    max-width: 256px

.basket-gifts-block-items
  display: flex
  align-items: center

.basket-gifts-block-item
  position: relative
  width: 120px
  height: 120px
  border-radius: 20px
  background-color: #E9EAEC
  display: flex
  align-items: center
  justify-content: center
  margin-right: 45px

  &:last-child
    margin-right: 0

    &:after
      display: none

  img
    max-width: 80%
    max-height: 80%
    object-fit: contain
    flex-shrink: 0

  &:after
    content: '\e913'
    font-family: icon
    font-weight: normal
    line-height: 1
    font-size: 19px
    color: #000
    position: absolute
    right: -33px
    top: calc(50% - 8.5px)

.basket-total-mob
  display: none
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  padding: 13px 0
  z-index: 5
  background-color: #EEEFF3
  +tr4
  transform: translateY(100%)
  border-top: 1px solid #DEDBDB

  &.visible
    transform: translateY(0)


  .container
    padding: 0 10px

.basket-total-mob-value
  display: flex
  justify-content: space-between
  margin-bottom: 15px
  font-size: 14px

  span
    &:last-child
      font-weight: bold
      margin-left: 20px

.basket-total-block
  padding: 27px 38px 38px
  -webkit-border-radius: 20px
  -moz-border-radius: 20px
  border-radius: 20px
  border: 1px solid #C4C4C4

  .h3
    font-size: 32px
    margin-bottom: 38px

.s-basket-recommended
  margin-bottom: 120px

.basket-page-body
  .wrapper
    overflow: visible

.basket-empty
  .error
    padding: 0

  .h2
    margin-bottom: 30px

  .error-nav
    ul
      li
        a
          color: #000

          &:hover
            color: $accent
