.magazine-row
  --gutter: 50px
  margin: 0 calc(-1 * var(--gutter)) 0 0

.magazine-row-sizer
  width: calc(33.33333% - var(--gutter))

.magazine-row-gutter
  width: var(--gutter)

.magazine-item
  width: calc(33.33333% - var(--gutter))
  margin-bottom: var(--gutter)
  transition: none !important

  .categories-item
    margin: 0


@media (min-width: 1366px)
  .magazine-item
    .categories-item
      height: 668px

    &:nth-child(2n - 1)
      .categories-item
        height: 420px

@media (min-width: 992px) and (max-width: 1365.98px)
  .magazine-item
    .categories-item
      height: 558px

    &:nth-child(2n - 1)
      .categories-item
        height: 340px

@media (min-width: 576px) and (max-width: 991.98px)

  .magazine-item
    .categories-item
      height: 480px

    &:nth-child(4n - 3),
    &:nth-child(4n - 4)
      .categories-item
        height: 270px

.magazine-list
  &.blog-loading
    .magazine-item
      opacity: .4

  .catalog-filter-nav
    a
      &:after
        display: none !important

.s-magazine
  position: relative

.magazine-categories
  position: fixed
  z-index: 3
  bottom: 50px
  left: 50%
  transform: translateX(-50%)
  max-width: 100%
  +tr
  opacity: 0
  visibility: hidden
  &.visible
    opacity: 1
    visibility: visible

.magazine-categories-nav
  display: flex
  align-items: center

  a
    height: 70px
    line-height: 68px
    white-space: nowrap
    background-color: #fff
    -webkit-border-radius: 35px
    -moz-border-radius: 35px
    border-radius: 35px
    border: 1px solid #DEDBDB
    padding: 0 60px
    font-size: 16px
    color: #C4C4C4
    +tr

    &.active
      color: $accent

    &:hover:not(.active)
      color: $accent

.mob-back-link
  display: none
  position: absolute
  left: 10px
  top: -3px

  a
    display: flex
    align-items: center
    justify-content: center
    width: 30px
    height: 30px
    border: 1px solid #DEDBDB
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%

    &:after
      content: '\e90f'
      font-family: icon
      font-size: 11px
      color: #c4c4c4
      transform: translateX(-1px)
