.product-item
  background-color: #fff
  position: relative
  overflow: hidden
  -webkit-border-radius: 20px
  -moz-border-radius: 20px
  border-radius: 20px
  padding: 45px 32px 20px
  display: flex
  flex-direction: column
  +tr

  &.disabled
    background-color: rgba(#fff, .6)

    .product-item-img
      opacity: .6

.product-item-tag
  position: absolute
  top: 24px
  left: 32px
  white-space: nowrap
  z-index: 1

  &.orange
    color: $orange

  &.green
    color: $green

  .goods-arrival
    color: #7A7A7A

.product-item-img
  position: relative
  z-index: 0
  margin: -45px -33px 0
  padding-bottom: calc(100% + 64px)

  &:hover
    .product-img-slider-prev,
    .product-img-slider-next
      opacity: 1

  img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: contain

.product-item-title
  margin-bottom: 32px

  a
    color: #000
    +tr

    &:hover
      color: $accent

.product-item-text
  margin-top: 20px
  line-height: 1.7
  font-size: 14px
  flex-grow: 1
  display: flex
  flex-direction: column

.product-item-price
  margin-right: 21px
  margin-left: auto

  span
    font-weight: bold
    font-size: 20px

.s-products-slider
  overflow: hidden

.products-slider
  position: relative

  .swiper-container
    width: 100%
    overflow: visible

.style-button-prev,
.style-button-next
  position: absolute
  top: 50%
  margin-top: -30px
  z-index: 3

.style-button-prev
  left: -30px

.style-button-next
  right: -30px

.catalog-list
  .product-item
    height: calc(100% - 50px)
    margin-bottom: 50px

.catalog
  position: relative

  &.catalog-loading
    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 2

    .product-item
      opacity: .3

.goods-arrival-link
  color: #000AFF
  +tr

  &:hover
    color: $accent

.product-list-view
  background-color: #fff
  -webkit-border-radius: 20px
  -moz-border-radius: 20px
  border-radius: 20px
  padding: 29px 23px
  margin-bottom: 20px

  &:last-child
    margin-bottom: 0

  &.disabled
    opacity: .7

.product-list-view-row
  display: flex
  align-items: center

.product-list-view-img
  width: 120px
  padding-right: 20px
  flex-shrink: 0

  img
    display: block
    width: 100%

.product-list-view-id
  flex-shrink: 0
  width: 6%
  padding-right: 26px
  font-size: 12px
  color: #7A7A7A
  line-height: 2
  flex-shrink: 0
  margin-bottom: auto

  &.mob
    display: none

.product-list-view-title
  flex-grow: 1
  padding-right: 20px
  margin-bottom: auto

  .h6
    max-width: 460px
    font-size: 14px
    line-height: 2

    a
      +tr
      color: #000

      &:hover
        color: $accent

.product-list-view-tag
  font-size: 16px
  line-height: 1.75

  &.orange
    color: $orange

  &.green
    color: $green

  &.mob
    display: none

.product-list-view-colors
  padding-right: 37px

.product-list-view-qnt
  padding-right: 37px

  span
    text-align: center
    height: 50px
    line-height: 48px
    width: 61px
    -webkit-border-radius: 25px
    -moz-border-radius: 25px
    border-radius: 25px
    border: 1px solid #DEDBDB
    font-size: 14px
    display: block

.product-list-view-price
  padding-right: 37px
  width: 125px
  white-space: nowrap
  font-weight: bold
  flex-shrink: 0

.product-list-view-cart
  .btn
    width: 230px
    padding: 0

.product-list-view-inquire
  white-space: nowrap

  a
    color: #000AFF
    +tr

    &:hover
      color: $accent

.product-colors-images
  position: relative
  width: 100px
  height: 100px

  img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: contain
    +tr
    visibility: hidden
    opacity: 0

    &.active
      opacity: 1
      visibility: visible

.product-color-item
  display: flex
  align-items: center
  margin-bottom: 10px

  &:last-child
    margin-bottom: 0

  & > *
    flex-shrink: 0

.product-color-item-texture
  width: 25px
  height: 25px
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%
  margin-right: 5px

  &.with-border
    border: 1px solid #DEDBDB

.product-color-item-quantity
  text-align: center
  margin-right: 5px

  &.disabled
    background-color: #F6F6F6
    color: #DEDBDB

  input
    min-width: 0
    width: 50px
    height: 25px
    line-height: 25px
    font-size: 14px
    color: #000
    -webkit-border-radius: 13px
    -moz-border-radius: 13px
    border-radius: 13px
    background-color: #EEEFF3
    text-align: center
    border: none
    padding: 0
    display: block
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    -moz-appearance: textfield
    +tr

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      margin: 0
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none

    &.is-error
      background-color: #ffd2d2

    &:disabled
      opacity: .85
      color: #9f9f9f

.product-color-item-price
  white-space: nowrap
  line-height: 1.2
  font-size: 14px

.product-colors-qnt
  flex-shrink: 0
  width: 210px
  padding-right: 20px

.product-item-img-slider
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  visibility: hidden
  z-index: -1
  opacity: 0
  +tr4
  cursor: none

  &.visible
    opacity: 1
    visibility: visible
    z-index: 1

  img
    display: block
    position: static

  .swiper-container
    height: 100%

  .swiper-wrapper
    width: 100%
    height: 100%

.product-item-img-slider-img
  position: relative

  img
    display: block
    width: 100%
    height: 100%
    object-fit: cover
    position: absolute
    top: 0
    left: 0
    +tr
    opacity: 0
    visibility: hidden
    &.active
      opacity: 1
      visibility: visible

.product-img-slider-prev,
.product-img-slider-next
  position: absolute
  top: 0
  height: 100%
  z-index: 2
  background-color: transparent
  border: none
  opacity: 0
  padding: 0
  outline: none
  cursor: none !important

.product-img-slider-prev
  left: 0
  width: 50%

.product-img-slider-next
  right: 0
  width: 50%

.product-img-pagination
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  bottom: 10px
  left: 30px
  right: 30px
  z-index: 3

  .swiper-pagination-bullet
    flex-grow: 1
    margin: 0 4px
    height: 4px
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px
    +tr
    background-color: #A2AEAF
    opacity: 1
    position: relative
    overflow: hidden

    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      transform-origin: top right
      background-color: $accent
      transform: scaleX(0)
      transition: transform .4s ease

  .swiper-pagination-bullet-active
    &:after
      transform-origin: top left
      transform: scaleX(1)

.product-img-thumbs-block
  display: flex
  align-items: center

.product-img-thumbs
  display: flex
  align-items: center
  user-select: none
  position: relative

.product-img-thumb
  margin-right: 10px
  cursor: pointer
  width: 25px
  height: 25px
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%
  flex-shrink: 0
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.25)
  position: relative

  &:not(.active)
    &:after
      opacity: 0
      transform: scale(.95)

  &:after
    content: ''
    position: absolute
    top: -3px
    left: -3px
    right: -3px
    bottom: -3px
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
    border: 1px solid #DEDBDB
    +tr


  &:last-child
    margin-right: 0

.product-item-not-available-btn
  .btn
    height: 40px
    line-height: 38px
    padding: 0

.catalog-filter
  display: flex
  margin-bottom: 40px
  align-items: flex-start

.catalog-filter-nav
  flex-grow: 1
  //display: flex
  //align-items: center
  white-space: nowrap
  max-width: calc(100% - 320px)
  //flex-wrap: wrap
  position: relative

  &:before,
  &:after
    content: ''
    position: absolute
    width: 48px
    top: -20px
    bottom: -20px
    z-index: 2

  &:before
    background: linear-gradient(90deg, #EEEFF3 0%, rgba(238, 239, 243, 0) 100%)
    left: -48px

  &:after
    background: linear-gradient(90deg, rgba(238, 239, 243, 0) 0%, #EEEFF3 100%)
    right: -48px

  .swiper-container
    margin: -20px -48px
    padding: 20px 48px

  .swiper-slide
    width: auto !important

  a
    white-space: nowrap
    height: 60px !important
    line-height: 58px
    background-color: #fff
    padding: 0 40px
    -webkit-border-radius: 30px
    -moz-border-radius: 30px
    border-radius: 30px
    margin-right: 20px
    font-size: 20px
    color: #000
    +tr
    position: relative
    border: 1px solid #fff
    display: block

    &:after
      content: '\e911'
      font-family: icon
      position: absolute
      width: 32px
      height: 32px
      background-color: $accent
      display: flex
      align-items: center
      justify-content: center
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      border-radius: 50%
      color: #fff
      font-size: 9px
      line-height: 1
      font-weight: bold
      +tr
      top: -7px
      right: -6px
      transform: scale(0)

    &:hover
      border-color: #c4c4c4

    &.active
      border-color: $accent

      &:hover
        &:after
          transform: scale(1)


.catalog-sort
  position: relative
  margin-left: auto
  padding-top: 17px

  &.opened
    .catalog-sort-selected
      span
        transform: rotate(180deg)

    .catalog-sort-dropdown
      opacity: 1
      visibility: visible
      transform: translateY(0)

.catalog-sort-selected
  position: relative
  color: #7A7A7A
  +tr
  display: flex
  align-items: center
  cursor: pointer

  &:hover
    color: $accent

    span
      svg
        *
          fill: $accent

  span
    width: 8px
    height: 8px
    flex-shrink: 0
    display: flex
    margin-left: 18px
    +tr

    svg
      width: 100%
      height: 100%

      *
        fill: #7A7A7A
        +tr

.catalog-sort-dropdown
  position: absolute
  top: calc(100% + 10px)
  right: 0
  white-space: nowrap
  background-color: #fff
  z-index: 2
  box-shadow: 0 0 10px rgb(0 0 0 / 20%)
  -webkit-border-radius: 8px
  -moz-border-radius: 8px
  border-radius: 8px
  padding: 20px 0
  visibility: hidden
  opacity: 0
  transform: translateY(-5px)
  +tr

  ul
    list-style-type: none
    padding: 0
    margin: 0

    li
      padding: 5px 20px
      font-size: 14px
      +tr
      cursor: pointer

      &:hover
        color: $accent

      &.active
        background-color: #f2f2f2


.catalog-list-empty
  text-align: center
  margin: 50px 0
  font-size: 30px
  font-weight: bold
  color: #7A7A7A

.product-item-arrow-hover
  position: absolute
  z-index: 1
  transition: opacity .3s ease
  top: 0
  left: 0

  &:not(.visible)
    opacity: 0

  span
    width: 60px
    height: 60px
    background-image: url(/img/icons/angle-left.svg)
    -webkit-background-size: contain
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    +tr
    display: block

  &:not(.visible)
    opacity: 0

  &.right-direction
    left: 50%

    span
      transform: rotate(180deg)

.swiper-pagination-bullet:first-child:last-child
  display: none !important
