.product-item
  background-color: #fff
  position: relative
  overflow: hidden
  -webkit-border-radius: 20px
  -moz-border-radius: 20px
  border-radius: 20px
  padding: 45px 32px 40px
  display: flex
  flex-direction: column

  &.disabled
    background-color: rgba(#fff, .5)

    .product-item-img
      opacity: .5

    .product-item-text
      opacity: .7

.product-item-tag
  position: absolute
  top: 24px
  left: 32px
  white-space: nowrap
  z-index: 1

  &.orange
    color: $orange

  &.green
    color: $green

.product-item-img
  position: relative
  padding-bottom: 100%
  z-index: 0
  margin-bottom: auto

  img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: contain

.product-item-title
  a
    color: #000
    +tr

    &:hover
      color: $accent

.product-item-text
  margin-top: 40px
  line-height: 1.7
  font-size: 14px

.product-item-price
  span
    font-weight: bold

.s-products-slider
  overflow: hidden

.products-slider
  position: relative

  .swiper-container
    width: 100%
    overflow: visible

.style-button-prev,
.style-button-next
  position: absolute
  top: 50%
  margin-top: -30px
  z-index: 3

.style-button-prev
  left: -30px

.style-button-next
  right: -30px

.catalog-list
  .product-item
    height: calc(100% - 50px)
    margin-bottom: 50px

.catalog
  position: relative

.goods-arrival-link
  color: #000AFF
  +tr

  &:hover
    color: $accent
