.s-product-compare
  padding-bottom: 120px

.compare-table-block
  background-color: #fff
  padding: 82px 102px 109px 156px

.compare-table-title
  margin-bottom: 130px

  .h1
    margin: 0

.compare-table
  display: flex

.compare-table-parameters
  width: 30%
  flex-shrink: 0
  padding: 371px 30px 0 0

  ul
    list-style-type: none
    padding: 0
    margin: 0

    li
      font-size: 18px
      margin-bottom: 36px
      line-height: 1.65

      &:first-child > div
        padding-top: 10px

      &:last-child
        margin-bottom: 0

.compare-table-items
  width: 70%
  flex-shrink: 0

.slider-scrollbar
  margin-top: 53px

.compare-item
  text-align: center

.compare-item-img
  height: 260px
  margin-bottom: 30px

  img
    height: 100%
    max-width: 100%
    object-fit: contain

.compare-item-title
  font-size: 24px
  margin-bottom: 32px
  font-weight: bold

.compare-item-parameters
  margin-bottom: 45px

  ul
    list-style-type: none
    padding: 0
    margin: 0

    li
      font-size: 18px
      margin-bottom: 36px
      line-height: 1.65

      &:last-child
        margin-bottom: 0

.compare-items-colors
  height: 29px
  display: flex
  align-items: center
  justify-content: center

  span
    width: 19px
    height: 19px
    flex-shrink: 0
    margin: 0 3px
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%

.compare-items-list
  display: flex
  margin: 0 -15px

.compare-item
  width: 33.33333%
  flex-shrink: 0
  padding: 0 15px

.compare-item-select
  margin: 0 auto 20px

  input
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  .vs__selected
    max-width: 100%
    overflow: hidden
    -ms-text-overflow: ellipsis
    text-overflow: ellipsis
    display: block

  .vs__selected-options
    align-items: center
    max-width: calc(100% - 44px)

.compare-item-link
  display: inline-flex
  align-items: center
  font-weight: bold
  font-size: 20px
  color: $accent !important
  +tr

  span
    font-size: 17px
    margin-left: 12px
    font-weight: bold
    +tr

  &:hover
    span
      -webkit-transform: translateX(4px)
      -moz-transform: translateX(4px)
      -ms-transform: translateX(4px)
      -o-transform: translateX(4px)
      transform: translateX(4px)

@media (min-width: 576px)
  .compare-table-block
    .accordion-item
      background-color: transparent !important

      &:not(.opened)
        .accordion-body
          max-height: none !important

    .accordion-title
      display: none !important

    .accordion-body-content
      padding: 0 !important

      &:after
        display: none !important
