.form-title
  font-size: 24px
  margin-bottom: 25px
  line-height: 1.5
  font-weight: bold

.form-group
  display: flex
  margin-bottom: 25px
  align-items: flex-start
  position: relative
  &.vertical
    display: block
    .form-label
      margin: 0 0 15px
      width: 100%

.form-label
  display: block
  margin: 18px 0 0
  padding-right: 5px
  width: 155px
  flex-shrink: 0
  line-height: 1.4

.form-input
  position: relative
  flex-grow: 1

.form-control
  height: 61px
  padding: 0 33px
  -webkit-border-radius: 20px
  -moz-border-radius: 20px
  border-radius: 20px
  padding: 0 33px
  display: block
  width: 100%
  border: none !important
  background-color: #EEEFF3
  outline: none !important
  color: #000
  &::placeholder
    color: #999

textarea.form-control
  resize: none
  +scrollbar
  height: 131px
  padding-top: 17px
  padding-bottom: 10px

.form-checkbox
  display: flex
  align-items: flex-start
  justify-content: flex-start
  margin: 17px 0
  label
    margin: 0
    position: relative
  input
    position: absolute
    z-index: -1
    visibility: hidden
    opacity: 0
    &:checked
      & + span
        &:after
          background-color: $accent
          border-color: $accent
        &:before
          transform: scale(1)
  span
    position: relative
    padding-left: 36px
    &:after
      content: ''
      position: absolute
      left: 0
      top: -1px
      width: 24px
      height: 24px
      //border-radius: 5px
      border-radius: 50%
      background-color: #fff
      border: 1px solid #E5E5E5
      cursor: pointer
      +tr
    &:before
      content: ''
      position: absolute
      width: 10px
      height: 10px
      background-color: #fff
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      border-radius: 50%
      z-index: 1
      top: 6px
      left: 7px
      +tr
      transform: scale(0)
      cursor: pointer

.check-password
  position: absolute
  width: 26px
  height: 26px
  top: 16px
  right: 22px
  background-image: url(/img/icons/eye.svg)
  -webkit-background-size: contain
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  cursor: pointer
  +tr
  &.active
    &:after
      width: 25px
  &:after
    content: ''
    height: 1px
    background-color: #000
    position: absolute
    bottom: 5px
    left: 5px
    transform-origin: left bottom
    transform: rotate(-45deg)
    width: 0
    +tr

.form-submit
  margin-top: 60px

.pass-input
  padding-right: 60px

.form-footer-link
  text-align: center
  margin-top: 20px
  a
    font-size: 14px
    color: #000
    +tr
    &:hover
      color: $accent

.radio-group
  .form-label
    width: 100%
    margin: 0 0 25px
  .form-group
    margin-bottom: 15px
  .form-checkbox
    margin: 0
