.header
  position: relative
  padding: 40px 0 20px

  &.header-absolute
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 5

  &.light
    .header-location
      color: #DEDBDB

    .header-account-btn
      color: #fff

    .header-name
      color: #fff

    .basket-quantity
      color: $textcolor

.header-row
  display: flex
  align-items: center

.header-catalog
  flex-grow: 1
  width: 100%
  position: relative

  &.active
    .header-catalog-block
      max-width: 560px

    .search-input
      background-color: #F7F7F7

.header-catalog-block
  display: flex
  align-items: center
  background-color: #fff
  -webkit-border-radius: 20px
  -moz-border-radius: 20px
  border-radius: 20px
  max-width: 408px
  position: relative
  z-index: 6
  transition: max-width .4s ease

@media (min-width: 992px)
  .header-catalog-btn
    display: flex
    align-items: center
    height: 40px
    -webkit-border-radius: 20px
    -moz-border-radius: 20px
    border-radius: 20px
    background-color: #FF5D20
    color: #fff
    border: none
    outline: none !important
    padding: 0 16px
    +tr
    font-size: 16px
    font-weight: 600
    position: relative
    z-index: 1

    &:hover
      background-color: #ff7b4a

    &.active
      span
        &:after
          opacity: 0
          transform: scale(0)

        &:before
          opacity: 1
          transform: scale(1)

    span
      font-size: 18px
      margin-right: 11px
      line-height: 1
      width: 18px
      height: 18px
      position: relative

      &:after,
      &:before
        font-family: icon
        font-weight: normal
        display: block
        +tr
        opacity: 0
        transform: scale(0)
        position: absolute
        top: 0
        left: 0

      &:after
        content: '\e902'
        opacity: 1
        transform: scale(1)

      &:before
        content: '\e904'

.header-search
  position: relative
  flex-grow: 1

  &.active
    .icon-search
      transform: scale(0)
      opacity: 0
      visibility: hidden

    .icon-close
      transform: scale(1)
      opacity: 1
      visibility: visible

  span
    position: absolute
    font-size: 20px
    top: 9px
    right: 18px
    color: #9F9F9E
    +tr

  .icon-close
    transform: scale(0)
    opacity: 0
    visibility: hidden
    font-size: 15px
    top: 12px
    cursor: pointer

.search-input
  width: calc(100% + 32px)
  margin-left: -32px
  border: none
  outline: none
  height: 40px
  padding: 0 50px 0 52px
  -webkit-border-radius: 0 20px 20px 0
  -moz-border-radius: 0 20px 20px 0
  border-radius: 0 20px 20px 0
  color: #404040
  font-weight: 500
  +tr4

.header-logo
  margin: 0 30px
  display: flex

.logo
  img
    display: block
    width: 231px

.logo-dark-theme
  display: none !important

.header-account
  flex-grow: 1
  width: 100%
  display: flex
  align-items: center
  justify-content: flex-end

.header-location
  margin-right: 25px
  color: #7A7A7A
  white-space: nowrap

  a
    text-decoration: none !important
    color: inherit !important

.header-account-btns
  display: flex
  align-items: center

.header-account-btn
  width: 40px
  height: 40px
  display: flex
  align-items: center
  justify-content: center
  flex-shrink: 0
  font-size: 24px
  color: #000
  text-decoration: none !important
  +tr
  margin-right: 20px
  position: relative

  &:last-child
    margin-right: 0

  &:hover
    color: $accent !important

    .basket-quantity
      color: #fff !important

  .basket-quantity
    position: absolute
    font-size: 14px
    line-height: 1
    bottom: 11px
    left: 0
    right: 0
    text-align: center
    color: #fff
    +tr

.header-account-basket
  &.active
    .icon-bag
      &:after
        opacity: 1

      &:before
        opacity: 0

  .icon-bag
    position: relative

    &:before
      +tr

    &:after
      content: '\e914'
      font-family: icon
      position: absolute
      line-height: 1
      top: 0
      left: 0
      font-weight: normal
      +tr
      opacity: 0


.catalog-dropdown
  background-color: #fff
  z-index: 4
  width: 660px
  position: absolute
  top: 20px
  left: 20px
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)
  padding: 101px 50px 46px
  height: calc(100 * var(--vh) - 40px)
  min-height: 400px
  display: flex
  flex-direction: column
  opacity: 0
  transform: scale(.9)
  transform-origin: top left
  visibility: hidden
  +tr4

  &.opened
    opacity: 1
    visibility: visible
    transform: scale(1)

.catalog-dropdown-content
  flex-grow: 1
  display: flex
  flex-direction: column
  padding-right: 10px
  height: 100%
  overflow-y: auto
  position: relative
  +scrollbar

.catalog-dropdown-tabs-nav
  display: flex
  align-items: center
  margin-bottom: 50px

  span
    font-size: 24px
    font-weight: bold
    color: #7A7A7A
    +tr
    margin-right: 65px
    cursor: pointer

    &:last-child
      margin-right: 0

    &:hover,
    &.active
      color: #000

    a
      color: inherit

.catalog-dropdown-products
  ul
    list-style-type: none
    padding: 0
    margin: 0 0 64px

    li
      margin-bottom: 15px

      a
        +tr
        color: #000
        font-size: 16px
        font-weight: bold

        &:hover
          color: $accent

      &:last-child
        margin-bottom: 0

.dropdown-footer
  margin-top: auto
  border-top: 1px solid #DEDBDB
  padding-top: 27px

  ul
    list-style-type: none
    padding: 0
    margin: 0
    column-count: 2

    li
      page-break-inside: avoid
      break-inside: avoid
      margin-bottom: 7px
      &:nth-child(3)
        margin-bottom: 10px

      &:last-child
        margin-bottom: 0

      a
        color: #000
        +tr

        &:hover
          color: $accent

.brands-list
  margin-bottom: 50px

.brands-item
  margin-bottom: 45px

  &:hover
    img
      filter: grayscale(0)


  &:last-child
    margin-bottom: 0

  img
    max-width: 230px
    max-height: 36px
    object-fit: contain
    filter: grayscale(1)
    +tr

.catalog-dropdown-content-tab
  display: flex
  flex-direction: column
  height: 100%
  flex-grow: 1

.catalog-dropdown-tabs
  margin-bottom: 40px

.search-catalog
  margin-bottom: 27px
  display: flex
  flex-direction: column
  align-items: flex-start

.search-catalog-item
  margin-bottom: 10px

  a
    display: flex
    align-items: center
    margin-bottom: 10px
    font-weight: bold
    font-size: 16px
    +tr
    color: #000

    &:hover
      color: $accent

    &:last-child
      margin-bottom: 0

    img
      width: 40px
      flex-shrink: 0
      margin-right: 35px

.search-categories
  display: flex
  flex-direction: column
  align-items: flex-start
  margin-left: 75px

.search-category-item
  font-size: 16px
  font-weight: bold
  color: #000
  +tr
  margin-bottom: 15px

  &:last-child
    margin-bottom: 0

  &:hover
    color: $accent

.search-details
  margin-top: 40px
  padding-top: 25px
  padding-right: 50px
  display: flex
  flex-direction: column
  align-items: flex-start
  border-top: 1px solid #DEDBDB

.search-details-item
  margin: 19px 0 31px

  a
    display: flex
    align-items: center
    font-size: 14px
    color: #000
    line-height: 1.86
    +tr

    &:hover
      color: $accent

    &:last-child
      margin-bottom: 0

    img
      margin-right: 30px
      width: 45px
      flex-shrink: 0

.catalog-dropdown-close
  display: none
  font-size: 18px
  text-align: right
  justify-content: flex-end
  margin: 0 0 20px
  color: #000

.mob-search-form
  display: none

.header-name
  line-height: 1.3
  margin: 0 25px 0 32px
  font-weight: 600

.header-account-link
  display: flex
  position: relative
  margin-right: 20px

  &.opened
    .header-account-btn
      span
        &:before
          opacity: 0

        &:after
          opacity: 1

    .header-acc-dropdown
      opacity: 1
      transform: translateY(0)
      visibility: visible

  .header-account-btn
    margin-right: 0
    position: relative
    transition: none

    span
      position: relative

      &:hover *
        color: $accent

      *
        +tr

      &:before
        +tr
        display: block

      &:after
        content: '\e919'
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        font-weight: normal
        font-family: icon
        +tr
        opacity: 0


.header-acc-dropdown
  position: absolute
  top: calc(100% + 20px)
  right: -110px
  background-color: #fff
  width: 382px
  z-index: 2
  padding: 24px 21px 29px
  box-shadow: 0px 0px 10px rgb(0 0 0 / 20%)
  transform: translateY(-10px)
  opacity: 0
  visibility: hidden
  +tr

  &:after
    content: ''
    position: absolute
    bottom: 100%
    width: 22px
    height: 22px
    border: 11px solid transparent
    border-bottom-color: #fff
    right: 120px

.header-acc-dropdown-header
  border-bottom: 1px solid #DEDBDB
  padding-bottom: 21px
  display: flex
  align-items: center
  justify-content: space-between

  &:last-child
    border-bottom: none
    padding-bottom: 0

.header-acc-dropdown-user
  font-size: 16px
  font-weight: bold
  color: #000
  margin-right: 20px

.header-acc-dropdown-exit
  a
    font-size: 14px
    color: #7A7A7A
    +tr

    &:hover
      color: $accent

.header-acc-dropdown-links
  padding-top: 11px

  ul
    list-style-type: none
    margin: 0
    padding: 0
    display: flex
    flex-direction: column
    align-items: flex-start

    li
      margin-bottom: 18px

      &:last-child
        margin-bottom: 0

  a
    display: flex
    align-items: center
    color: #000
    font-size: 14px
    +tr

    span
      font-size: 18px
      margin-right: 15px

    &:hover
      color: $accent

    &:last-child
      margin-bottom: 0
