.payment-and-delivery
  p
    margin-bottom: 2rem

    span
      display: block
      color: $muted

.delivery-descr
  margin-bottom: 150px

.delivery-cities
  margin-bottom: 150px

.delivery-cities-item-content
  max-width: 517px

.delivery-cities-item
  margin-bottom: 80px

  &:last-child
    margin-bottom: 0

.delivery-info
  .h4
    margin-bottom: 10px
  h5
    margin-bottom: 1rem
    font-size: 18px
    line-height: 1.7
    font-weight: normal

.delivery-info-item
  margin-bottom: 120px

  &:last-child
    margin-bottom: 0

.payment-popup
  width: auto

  .popup-block
    width: auto

  .popup-content
    padding-top: 62px

  .popup-close
    top: 20px
    right: 20px
    width: 40px
    height: 40px
    font-size: 16px

.for-users-accordion-content
  p,
  .contacts
    font-size: 18px
