.quarantee-form
  max-width: 669px
  margin-bottom: 60px

.quarantee-form-title
  margin-bottom: 25px
  font-size: 20px
  line-height: 1.8
  font-weight: 500

.quarantee-form-group
  position: relative

  input
    height: 50px
    padding: 0 170px 0 20px

  button
    position: absolute
    top: 0
    right: 0
    -webkit-border-radius: 20px
    -moz-border-radius: 20px
    border-radius: 20px
    padding: 0 30px
